.stuff-full
  max-width calc((6 * 4em) + (5 * 0.5em))

  .visibility
    transition color 0.4s


  .save-btn
    transition filter 0.4s
    cursor pointer

    &:hover
      filter grayscale(30%) brightness(110%)

    &.disabled
      cursor not-allowed
      filter grayscale(90%) brightness(130%)
