@import './variables.styl';
@import './animations.styl';

.btn.circle
  background-color darken(primary-color, 20%)



.min-height-15
  min-height 15rem


.min-width-15
  min-width 15rem


.grid
  position relative

  &.page
    min-width 100vw
    min-height 100vh
    overflow hidden

    > .grid-element:not(.navbar):not(.footer):not(.article-list)
      justify-content center
      align-content center
      min-width 10rem
      min-height 5rem



    .login
      position absolute
      top 10%
      left 50%
      opacity 0
      transform translateX(-50%)
      transition opacity 0.25s ease-in
      z-index 6

      h2
        color #fafafa

      .btn-arrow
        background-color darken(primary-color, 20%)

      &:not(.visible)
        display none

      &.visible
        opacity 1
        transition-delay 0.25s


    svg.puddle
      --width 1

      position absolute
      top 0%
      right 0%

      width calc(4.5vw * var(--width))
      min-width calc(4rem * var(--width))

      fill primary-color
      transition width 0.45s ease-out
      z-index 5

      transform-origin top right

      path
        d path(var(--path))
        transition d 0.6s, fill 0.6s
        cursor pointer



      &:not(.expand)
        path:hover
          --path "M 100 50 V 0 H 30 c -57 1 -12 10 -20 25 c -11 20 15 3 20 10 c 11 14 -29 10 -20 40 c 4 15 30 -5 50 10 			c 4 4 -16 -3 -17 7 	C 41 106 100 100 100 90 l 0 -40" !important


      &.expand
        --width 28

        path
          // todo : new path when expands (with keyframes and forwards ?)
          --path "M 100 50 V 0 H 30 c -57 1 -12 10 -20 25 c -11 20 15 3 20 10 c 11 14 -29 10 -20 40 c 4 15 30 -5 50 10 			c 4 4 -16 -3 -17 7 	C 41 106 100 100 100 90 l 0 -40" !important
          fill #2d7e93




.position-relative
  position relative

.top-right-corner
  position absolute
  right 0
  top 0

  &.with-radius
    border-bottom-left-radius 15%


.top-left-corner
  position absolute
  left 0
  top 0

  &.with-radius
    border-bottom-right-radius 15%


.bottom-right-corner
  position absolute
  right 0
  bottom 0

  &.with-radius
    border-top-left-radius 15%


.bottom-left-corner
  position absolute
  left 0
  bottom 0

  &.with-radius
    border-top-right-radius 15%


.navbar
  .nav-brand
    margin 0 2.5vw
    font-size 2.7rem

  .nav-icon, .nav-label, .nav-logo
    padding 0 1vw


.screen
  display flex
  position relative
  justify-content center

  .scroll-btn
    position absolute
    bottom 7%


.btn.circle
  padding 0
  width 5rem
  height 5rem
  border-radius 50%
  z-index 101

  span
    vertical-align middle

    i.material-icons
      font-size 3.75rem
