:root
  --primary-color rgba(39, 110, 128, 1)
  --primary-color-grayscaled rgba(#2e8296, 0.2)
  --primary-color-grayscaled-full-opacity #D1E2E6

  --secondary-color #ea7d3f

  --bordered-item-bg-rgb 101, 162, 185

  --border-half-animation-duration 0.25s


#root.dark-mode
  --primary-color #888
  --primary-bg #333
  --primary-color-grayscaled rgba(#333, 0.2)
  --primary-color-grayscaled-full-opacity #888

  --secondary-color #cbbfb2

  --link-color #2e7bb5

  --bordered-item-bg-rgb 136, 136, 136

  --font-color-on-primary #333
  --font-color-on-secondary #333

  --default-input-bg #aaa
  --default-input-color #444

#root
  --bordered-item-bg RGBA(var(--bordered-item-bg-rgb), 0.2)
  --bordered-item-bg-hover RGBA(var(--bordered-item-bg-rgb), 0.6)
  --bordered-item-bg-active RGBA(var(--bordered-item-bg-rgb), 0.75)
