.characters-list
  .character, .new-character
    align-content center
    justify-content center

    min-height 10rem
    min-width 10rem

    .avatar
      height 10em
      width 10rem

      object-fit cover