background-item = rgba(101, 162, 185, 0.1)
background-item-hover = rgba(101, 162, 185, 0.2)
background-item-active = rgba(101, 162, 185, 0.2)

border-item-hover = darken(background-item-hover, 25%)
border-width = 2px
border-half-animation-duration = 0.2s

.equipment-input
  --randomize 0
  width 100%
  height 100%

  display flex
  align-items center
  justify-content center

  cursor pointer
  background-color background-item
  transition background-color 0.5s, border 0.5s

  position relative
  animation animate-entry-from-top 0.5s ease-out infinite;
  transform translateY(var(--randomize) vh)

  svg
    max-width 75%
    max-height 75%
    align-self center
    justify-self center

    filter grayscale(100%)
    transition filter 0.5s

  &:before, &:after
    content ''
    position absolute
    width 0
    height 0
    background transparent
    border border-width solid transparent
    box-sizing: border-box;

  &:before
    top 0
    left 0

  &:after
    bottom 0
    right 0

  &:hover, &.active
    &:before
      animation animate-border-hover-before border-half-animation-duration ease-in forwards;

    &:after
      animation animate-border-hover-after border-half-animation-duration ease-out forwards;
      animation-delay border-half-animation-duration

  &:hover
    background-color shade(lighten(background-item-active, 5%), 5%)

    svg
      filter grayscale(60%) brightness(90%)

  &.active
    background-color shade(lighten(background-item-active, 5%), 5%)


    svg
      filter grayscale(0%) brightness(110%)


@keyframes animate-border-hover-before {
  0%{
    width 0
    height 0
    border-top-color border-item-hover
    border-bottom-color transparent
    border-left-color transparent
    border-right-color transparent
  }
  50%{
    width 100%
    height 0
    border-top-color border-item-hover
    border-right-color border-item-hover
  }
  100%{
    width 100%
    height 100%
    border-top-color border-item-hover
    border-right-color border-item-hover
  }
}

@keyframes animate-border-hover-after {
  0%{
    width 0
    height 0
    border-top-color transparent
    border-bottom-color border-item-hover
    border-left-color transparent
    border-right-color transparent
  }
  50%{
    width 100%
    height 0
    border-bottom-color border-item-hover
    border-left-color border-item-hover
  }
  100%{
    width 100%
    height 100%
    border-bottom-color border-item-hover
    border-left-color border-item-hover
  }
}

@keyframes animate-entry-from-top {
  0%{
    transform translateY(var(--randomize) vh)
  }
  100%{
    transform translateY(0%)
  }
}
