@require '../../animations.styl';



.equipment-input
  width 100%
  height 100%

  display flex
  align-items center
  justify-content center

  cursor pointer
  background-color var(--default-input-bg)
  transition background-color 0.5s, border 0.5s

  position relative

  z-index 2

  ::selection
    background none

  &.filled
    background-color var(--bordered-item-bg)

  svg
    max-width 75%
    max-height 75%
    align-self center
    justify-self center

    filter grayscale(100%)
    transition filter 0.5s

  &:before, &:after
    content ''
    position absolute
    width 0
    height 0
    background transparent
    border 2px solid transparent
    box-sizing border-box

  &:before
    top 0
    left 0

  &:after
    bottom 0
    right 0

  &:hover, &.active
    &.active
      --bordered-item-bg-hover var(--bordered-item-bg-active)

    &:before, &:after
      border 2px solid transparent

    &:before
      animation animate-border-before var(--border-half-animation-duration) ease-in forwards;

    &:after
      animation animate-border-after var(--border-half-animation-duration) ease-out forwards;
      animation-delay var(--border-half-animation-duration)

  &:hover
    background-color var(--bordered-item-bg-hover)

    svg
      filter grayscale(60%) brightness(90%)

  &.active
    background-color var(--bordered-item-bg-active)


    svg
      filter grayscale(0%) brightness(110%)
