.stuff-watcher
  // width 100%
  margin-bottom 3em
  margin-left 6vw
  margin-right 6vw

  max-width 88vw

  .items-details-container
    height fit-content


  @media (max-width: 640px)
    padding-bottom 3rem

    .nav-icons
      grid-auto-flow column

    .brand
      align-content end

  @media (min-width: 1281px)
    .stats-container
      margin-top 3.5em
