@import "../../variables.styl"

.login-form
  svg.shokkoth
    max-height 35vh

    circle
      transition all 0.35s

      &.external-border
        darken-20 = darken(primary-color, 20%)
        darken-35 = darken(primary-color, 35%)
        filter drop-shadow(2rem 2rem 2rem darken-35)
        fill #fafafa
        stroke darken-20
        overflow hiddeb

  .btn-arrow
    clip-path polygon(0% 0%, 94% 0%, 100% 50%, 94% 100%, 0% 100%, 6% 50%)
    transform translateX(0%)
    transition transform 0.4s

    &:hover
      transform translateX(5%)
