.login-form
  .btn-arrow
    clip-path polygon(0% 0%, 94% 0%, 100% 50%, 94% 100%, 0% 100%, 6% 50%)
    transform translateX(0%)
    transition transform 0.4s

    &:hover
      transform translateX(3%)
