.character-new

  .breeds-container
     background-color RGBA(var(--primary-color), 0.5)

    .breed
      --border-width 0.35em
      width 4em
      height 4em

  .gender-btn
    opacity 0.4
    transition opacity 0.2s

    &:hover
      opacity 0.6

    &.active
      opacity 1
