.home-container
  width 100%

  .nav-icons
    justify-content start
    z-index 10

    .icon
      font-size 2rem

  .brand
    font-family 'Amatic SC', cursive, Rubik, Karla, Ubuntu, Poppins, Oswald
    place-content center
    font-weight bold
    font-size 5rem


  .equipments-search
    grid-template-rows 7rem fit-content(100%)

  .stuff-preview
    grid-template-rows repeat(2, fit-content(100%))

  .items-details-container
    height fit-content


  @media (min-width: 651px) and (max-width: 1540px)
    grid-template-columns 10vw max-content 1fr 10vw !important
    grid-tempalte-rows 2.5rem 3.5rem repeat(3, fit-content(100%)) !important

    .stats
      --width 2 !important
    .brand
      --width 4 !important
      align-content end

    .stuf-preview, .equipments-search
      --row 3 !important


    .stuf-preview
      --col 2 !important

    .equipments-search
      --row 4 !important
      --col 3 !important

    .items-details-container
      --col 2 !important
      --row 3 !important


  @media (max-width: 640px)
    grid-column-gap unset !important
    grid-template-columns 6vw 1fr 6vw !important
    grid-tempalte-rows 2.5rem 4.5rem repeat(5, fit-content(100%)) !important

    .nav-icons
      --width 2 !important
      --height 1 !important
      grid-auto-flow column

    .stats
      --width 1 !important

    .brand
      align-content end

    .stuf-preview, .equipments-search, .items-details-container
      --col 2 !important

    .stuff-preview
      --row 3 !important

    .items-details-container
      --row 4 !important

    .equipments-search
      --row 6 !important

    .player-stats
      --width 1 !important
      --row 7 !important
