.navbar
  background-color var(--primary-bg)
  transition background-color 0.2s

  .current-route
    filter brightness(60%)

  a
    display flex

  .brand
    opacity 1

  .nav-item
    color var(--primary-color) !important

  // &.icon
  //   justify-content start
  //   z-index 10
  //
  //   .icon
  //     font-size 2em
  //     max-width 2.6em
  //     filter brightness(140%)
  //     transition filter 0.2s
  //
  //     &:hover, &:focus
  //       filter brightness(120%)
