.equipments-list
  overflow-y auto
  padding 1vw
  max-height max-content
  min-height 25vh

  @media (max-width: 1040px)
    max-height 20vh
    min-height 5vh

  // height -moz-fill-available
  // height -webkit-fill-available
  // height fill-available
