.equipments-list
  background-color var(--default-input-bg)
  min-height 22rem
  overflow-y auto
  padding 1vw

  // height -moz-fill-available
  // height -webkit-fill-available
  // height fill-available
