.brand
  margin 0
  font-family 'Amatic SC', cursive, Rubik, Karla, Ubuntu, Poppins, Oswald
  place-content stretch center
  color var(--primary-color)
  overflow hidden
  display inline-flex
  align-items center

  > span
    margin 0
    font-weight bold
    transition transform 0.4s

    &#shok, &#koth, &#dot-fr
      transform translate(0, 0)

    &#shok span
      display inline
      transition transform 0.4s
      // transition-delay 1s

      &#sh, &#o
        transform translateX(0)

  &:hover
    > span

      &#shok
        transform translate(12.5%, -1rem)
      &#koth
        transform translate(-12.5%, 1rem)
      &#dot-fr
        transform translateX(175%)
