.footer
  margin-top auto
  grid-row-gap 0

  > *
    transition color 0.4s

  .ankama-logo
    align-items center
    display flex

    span
      margin-right 5px
      white-space nowrap

    img
      margin-left 1rem
      max-height 2rem
      width auto