.stuff-creator-container
  .stuff-creator
    .show-details
      margin-bottom auto

    .stats-line
      margin-bottom 3rem
      &:before
        content attr(data-title)
        position absolute
        top -3rem
        left 0
        color var(--primary-color)
        font-size 1.8rem
        text-align left

    @media (max-width: 1540px)
      grid-template-columns fit-content(100%) 1fr !important
      grid-row-gap 3rem

      .equipments-list
        max-height 70vh


    @media (max-width: 1280px)
      .equipments-search
        display inline-grid !important


    @media (max-width: 1040px)
      .stats-line
        :before
          top -2.5rem !important


    @media (max-width: 640px)
      grid-template-columns 1fr !important
      grid-template-rows max-content repeat(3, fit-content(100%)) !important
      grid-row-gap 3rem
      grid-column-gap unset !important

      .equipment-input
        padding 0 15%

      .equipments-list
        max-height 60vh

      .stats
        background-color var(--primary-color)
        flex-direction row

        .primary-stats, .damages-stats, .resistances-stats, .secondary-stats
          background-color unset !important
          margin 0 !important

          &.stats-line
            &:before
              content unset
