.stuff-creator-container
  .stuff-creator

    .stuff
      margin-bottom 3rem

    @media (min-width: 1041px) and (max-width: 1540px)
      grid-template-columns 1fr 1fr !important
      grid-template-rows repeat(3, fit-content(100%)) !important
      grid-row-gap 3rem

      .stuff-and-equipment-details, .equipments-search
        --row 1 !important
        --height 1 !important
        --width 1 !important

      .stuff-and-equipment-details
        --col 1 !important

      .equipments-search
        --col 2 !important

        .equipments-list
          max-height 60vh

      .primary-and-secondary, .damages-and-resistances
        --width 2 !important
        --col 1 !important
        --height 1 !important
        background-color unset !important
        padding unset !important

        &.primary-and-secondary
          --row 2 !important
        &.damages-and-resistances
          --row 3 !important

        .primary-stats, .damages-stats, .resistances-stats, .secondary-stats
          background-color var(--primary-color)
          padding 1rem
          flex-direction row

          &.primary-stats, &.damages-stats
            margin-bottom 3rem

          &.stats-column
            &:before
              content attr(data-title)
              position absolute
              top -65%
              color #276e80
              font-size 1.8rem



    @media (max-width: 1280px)
      .equipments-search
        display inline-grid !important


    @media (min-width: 641px) and (max-width: 1040px)
      grid-template-columns 1fr !important
      grid-template-rows repeat(4, fit-content(100%)) !important
      grid-row-gap 3rem

      .stuff-and-equipment-details, .equipments-search
        --col 1 !important
        --height 1 !important

      .stuff-and-equipment-details
        --row 1 !important
        .stuff
          padding 0 15%

      .equipments-search
        --row 2 !important

        .equipments-list
          max-height 60vh

      .primary-and-secondary, .damages-and-resistances
        --width 1 !important
        --col 1 !important
        --height 1 !important
        background-color unset !important
        padding unset !important

        &.primary-and-secondary
          --row 3 !important
        &.damages-and-resistances
          --row 4 !important

        .primary-stats, .damages-stats, .resistances-stats, .secondary-stats
          background-color var(--primary-color)
          padding 1rem
          flex-direction row

          &.primary-stats, &.damages-stats
            margin-bottom 3rem

          &.stats-column
            &:before
              content attr(data-title)
              position absolute
              top -65%
              color #276e80
              font-size 1.8rem


    @media (max-width: 640px)
      grid-template-columns 1fr 1fr !important
      grid-template-rows repeat(3, fit-content(100%)) !important
      grid-row-gap 3rem
      grid-column-gap unset !important

      .stuff-and-equipment-details, .equipments-search
        --col 1 !important
        --width 2 !important
        --height 1 !important

      .stuff-and-equipment-details
        --row 1 !important
        .stuff
          padding 0 15%

        .stuff-preview .equipment-input
          min-height 2.8rem
          min-width 2.8rem

      .equipments-search
        --row 2 !important

        .equipments-list
          max-height 60vh

      .primary-and-secondary, .damages-and-resistances
        --width 1 !important
        --row 3 !important
        --height 1 !important
        background-color unset !important
        padding unset !important
        flex-direction row

        &.primary-and-secondary
          --col 1 !important
        &.damages-and-resistances
          --col 2 !important

        .primary-stats, .damages-stats, .resistances-stats, .secondary-stats
          background-color var(--primary-color)
          padding 1rem
