.avatar-with-arrows

  .rotation-arrow
    position absolute
    top 50%
    transform translateY(-50%)
    align-self center
    z-index 2

    .icon
      padding 0
      margin 0

    &.left
      left 5%
    &.right
      right 5%
