.stuff
  .background-line
    background-color background-item
    background-size 100%
    left 0
    right 0
    top 0
    position relative
    z-index -1

  .avatar
    padding-bottom 3rem

  .chart-icon, .name, .level
    color var(--primary-color) !important
    align-self end


  .name, .level
    font-weight 600
    align-self stretch
    align-content end
    position relative


    &:before
      content attr(data-title)
      opacity 0
      position absolute
      border-bottom var(--primary-color) dashed 3px
      color var(--primary-color)
      white-space nowrap
      right 50%
      top 0
      transform translate(50%, -80%)
      transition opacity 0.4s


  .level.over-200
    cursor help

    &:after
      content '+'
      display contents

    &:hover:before
      opacity 1


  .name
    cursor help
    justify-self stretch
    justify-content center

    font-size 2em

    &:before
      font-size 0.8em

    &:hover:before
      opacity 1

  .level
    justify-self right
    font-size 1.5rem

  .chart-icon, .close-icon
    justify-self left
    font-size 1.5rem
    margin 0
    padding-bottom 0
    transition transform 0.4s

  .chart-icon
    transform translateY(0%)
    transition-delay 0.2s
    z-index 4
  .close-icon
    transform translateY(-100%)
    z-index 3



  // stats
  .life-points
    .life-icon
      height -moz-fill-available
      height -webkit-fill-available
      height fill-available
      max-height 6rem
      width 100%

    .hp
      font-weight bold
      place-self center
      color #fafafa

  .row.stat
    align-content center
    margin auto

    .pa-icon, .pm-icon
      max-height 2rem
      min-width 2rem
      align-self end

    .mp, .ap
      font-weight bold


    .mp, .ap
      color var(--primary-color)
      padding 0 0.5rem
      text-align right
      align-self center
    // end



  .rotation-arrow
    align-self center
    z-index 2

    .icon
      padding 0
      margin 0

    &.left
      justify-self left
    &.right
      justify-self right

  .equipment-input
    min-width 2.5rem
    min-height 2.5rem

    max-width 7.5rem
    max-height 7.5rem


  &.stats-mode

    .chart-icon
      cursor helper
      transform translateY(100%)
      transition-delay 0s
      z-index 3

    .close-icon
      transform translateY(0%)
      z-index 4
