@import '../../variables.styl';

.stuff
  .background-line
    background-color background-item
    background-size 100%
    left 0
    right 0
    top 0
    position relative
    z-index 5

  .share-icon, .pseudo, .level
    color primary-color !important

  .pseudo, .level
    font-weight 600
    align-self stretch
    align-content end

  .pseudo
    justify-self stretch
    justify-content center

    font-size 2rem

  .level
    justify-self right
    font-size 1.5rem

  .share-icon
    justify-self left
    font-size 1.5rem
    margin 0
    padding-bottom 0


  .avatar
    justify-self center
    width: 100%;
    z-index 1

    img
      object-fit cover
      height 100%
      width 100%
      padding 3rem 0


  .rotation-arrow
    align-self center
    z-index 2

    .icon
      padding 0
      margin 0

    &.left
      justify-self left
    &.right
      justify-self right
