@import '../../variables.styl';

primary-color-grayscaled = #e4e6c3

.stuff
  .background-line
    background-color primary-color-grayscaled
    background-size 100vw
    left 0
    right 0
    top 0
    z-index 5

  .share-icon, .pseudo, .level
    color primary-color !important

  .pseudo, .level
    font-weight 600
    align-self stretch
    align-content end

  .pseudo
    justify-self stretch
    justify-content center

    font-size 2rem

  .level
    justify-self right
    font-size 1.5rem

  .share-icon
    justify-self left
    font-size 1.5rem
    margin 0
    padding-bottom 0


  .avatar
    justify-self center

    img
      object-fit cover
      height 100%
      padding 3rem 0

  .equipment
    width 5.5rem
    height 5.5rem

    display flex
    align-items center
    justify-content center

    cursor pointer
    border solid 1px darken(primary-color-grayscaled, 5%)
    background-color primary-color-grayscaled
    transition background-color 0.5s, border 0.5s

    svg
      filter grayscale(90%)
      transition filter 0.5s

    &:hover
      border solid 1px shade(darken(primary-color-grayscaled, 10%), 10%)
      background-color shade(darken(primary-color-grayscaled, 5%), 10%)

      svg
        filter grayscale(70%) brightness(90%)
