.public-character
  min-width unset
  margin-left 6vw
  margin-right 6vw

  @media (max-width: 1040px)
    grid-template-columns 1fr !important

  @media (max-width: 1280px)
    grid-template-columns 1fr 1fr !important
